@media all and (max-width: 1330px) and (min-width: 1180px) {

  header.boxed .header-margin{
    width:1000px;
  }

  .content .text-intro{
    width:1000px;
  }

  .footer-margin{
    width:1000px;
  }

  .content .text-intro h1, .content .text-intro p{
    width:100%;
  }

  #full{
    width:1000px;
  }

  .prev-next{
    max-width:1000px;
  }



  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width: 710px !important;
    padding-right: 320px;
  }

  .portfolio-grid{

    width:1030px;

  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:312px;
  }


}


@media all and (max-width: 1179px) and (min-width: 1024px) {


  header.boxed .header-margin{
    width:800px;
  }

  .content .text-intro{
    width:800px;
  }

  .content .top-text {
    width:950px;
  }

  .footer-margin{
    width:800px;
  }

  .content .text-intro h1, .content .text-intro p{
    width:100%;
  }

  #full{
    width:800px;
  }

  .prev-next{
    max-width:800px;
  }


  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width: 580px !important;
    padding-right: 250px;
  }

  .portfolio-grid{

    width:830px;

  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:246px;
  }

}

@media all and (max-width: 1023px) and (min-width: 769px) {

  header.boxed .header-margin{
    width:600px;
  }

  .content .text-intro{
    width:600px;
  }

  .content .top-text {
    width:750px;
  }

  .footer-margin{
    width:600px;
  }

  .content .text-intro h1, .content .text-intro p{
    width:100%;
  }

  #full{
    width:600px;
  }

  .prev-next{
    max-width:600px;
  }
  
  .home-sidebar{
    display:none;
  }
  
  ul.header-nav{
    width:50%;
  
  }
  
  header li > a{
    padding-right: 15px;
    padding-left: 15px;
  }
 


  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width:630px !important;
    padding-right: 0;
  }

  .portfolio-grid{
    width:630px;
  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:282px;
  }

}


@media all and (max-width: 769px) and (min-width: 570px) {

header.boxed .header-margin{
    width:400px;
  }

  .content .text-intro{
    width:570px;
  }

  .content .top-text {
    width:650px;
    margin-left:2px;

  }

  footer{
    height:280px;
  }

  .footer-margin{
    width:650px;
  }

  .footer-margin .quote3 {
    width:33%;
  }

 .footer-margin .quote {
    width:33%;
  }

 .footer-margin .quote2 {
    width:34%;
  }

  .content .text-intro h1 {
    width:100% !important;
    font-size:33px; 
    line-height:40px;
  }

  .content .text-intro p {
    width:100% !important;
    font-size:18px;
    line-height:23px;
  }

  #full{
    width:550px;
    display:block !important;
  }

  .menu-index{
    display:block !important;
  }

  .prev-next{
    max-width:400px;
  }
  
  .home-sidebar{
    display:none;
  }
  
  ul.header-nav{
    width:50%;
  
  }
  
  header li > a{
    padding-right: 15px;
    padding-left: 15px;
  }
 
  .one-column, .two-column{
    width:100%;
  }
  
  .contact-one, .contact-two, .contact-three{
    width:100%;
  }
  
  textarea{
    height:250px;
  }

  input.button-submit{
    margin-bottom:100px;
  }
  
  .logo, .menu-index{
    display:block;
  }

  header.boxed{
    display:none !important;
  }  
  
  #footer-left{text-align:center;}

  ul.menu-left{
    left:0%;
    text-align: center;
  }

  ul.menu-right{
    display:none;
  }

  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width:430px !important;
    padding-right: 0;
  }

  .portfolio-grid{
    width:430px;
  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:400px;
  }


}


@media all and (max-width: 570px) and (min-width: 450px) {
  header.boxed .header-margin{
    width:400px;
  }

  .content .text-intro{
    width:400px;
  }

  .content .top-text {
    width:450px;
    margin-left:-30px;
  }

  footer{
    height:280px;
  }

  .footer-margin{
    width:400px;
  }

  .footer-margin .quote3 {
    display:none;
  }

 .footer-margin .quote {
    width:45%;
    margin-left:15px;
  }

 .footer-margin .quote2 {
    width:50%;
  }

  .content .text-intro h1 {
    width:100% !important;
    font-size:33px; 
    line-height:40px;
  }

  .unslider {
    display:none;
  }

  .content .text-intro p {
    width:100% !important;
    font-size:18px;
    line-height:23px;
  }

  #full{
    width:400px;
    display:block !important;
  }

  .menu-index{
    display:block !important;
  }

  .prev-next{
    max-width:400px;
  }
  
  .home-sidebar{
    display:none;
  }
  
  ul.header-nav{
    width:50%;
  
  }
  
  header li > a{
    padding-right: 15px;
    padding-left: 15px;
  }
 
  .one-column, .two-column{
    width:100%;
  }
  
  .contact-one, .contact-two, .contact-three{
    width:100%;
  }
  
  textarea{
    height:250px;
  }

  input.button-submit{
    margin-bottom:100px;
  }
  
  .logo, .menu-index{
    display:block;
  }

  header.boxed{
    display:none !important;
  }  
  
  #footer-left{text-align:center;}

  ul.menu-left{
    left:0%;
    text-align: center;
  }

  ul.menu-right{
    display:none;
  }

  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width:430px !important;
    padding-right: 0;
  }

  .portfolio-grid{
    width:430px;
  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:400px;
  }
}


@media all and (max-width: 450px) and (min-width: 320px) {

  header.boxed .header-margin{
    width:400px;
  }

  .content .text-intro{
    width:300px;
  }

  .content .top-text {
    width:300px;
    margin-left:-30px;
  }

  footer{
    height:280px;
  }

  .footer-margin{
    width:400px;
  }

  .footer-margin .quote3 {
    display:none;
  }

 .footer-margin .quote {
    width:45%;
    margin-left:15px;
  }

 .footer-margin .quote2 {
    width:50%;
  }

  .content .text-intro h1 {
    width:100% !important;
    font-size:33px; 
    line-height:40px;
  }

  .unslider {
    display:none;
  }

  .content .text-intro p {
    width:100% !important;
    font-size:18px;
    line-height:23px;
  }

  #full{
    width:320px;
    display:block !important;
  }

  .menu-index{
    display:block !important;
  }

  .prev-next{
    max-width:400px;
  }
  
  .home-sidebar{
    display:none;
  }
  
  ul.header-nav{
    width:50%;
  
  }
  
  header li > a{
    padding-right: 15px;
    padding-left: 15px;
  }
 
  .one-column, .two-column{
    width:100%;
  }
  
  .contact-one, .contact-two, .contact-three{
    width:100%;
  }
  
  textarea{
    height:250px;
  }

  input.button-submit{
    margin-bottom:100px;
  }
  
  .logo, .menu-index{
    display:block;
  }

  header.boxed{
    display:none !important;
  }  
  
  #footer-left{text-align:center;}

  ul.menu-left{
    left:0%;
    text-align: center;
  }

  ul.menu-right{
    display:none;
  }

  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width:430px !important;
    padding-right: 0;
  }

  .portfolio-grid{
    width:430px;
  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:400px;
  }