---

---

$primary: #cc000;
$size: 20px; 

@mixin border($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

.bigblack {
	color: $primary;
	background-color: blue;
	padding: 50px;
	}

.littleblack {
	color: black;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	margin-left: 30px;
	}

.bigparagraph {
	font-size: $size + 12;
	}

.poop {
	color: blue;
	}
