---

---

.bigblack {
	color: black;
	font-size: 70px;
	font-family:'Lato', sans-serif;
	font-weight: 700;
	padding: 30px;
	}

.littleblack {
	color: black;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	margin-left: 30px;
	}

.bigparagraph {
	font-size: 48px;
	}

a {
	color: $primary;
	font-weight: bold;
}
